*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

$themecolor:green;

@import './header';

@mixin flexbox ($direction){
    display:flex;
    flex-direction:$direction; 
}

div.link{
    @include flexbox(column);
}