<!DOCTYPE html>
<html lang="zh-Hant">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="author" content="Johnny Lin" />
    <meta name="robots" content="index, follow" />
    <link rel="stylesheet" href="/styles/style.css">
    <title>順利完成</title>
  </head>
  <body>
    <h1>Accepted!</h1>
    <h2>您的要求已順利完成</h2>
    <a href="/students">Go back to students Page!</a>
  </body>
</html>
