$font-size_content: 1.5rem;
footer {
  background-color: #d9d9d9;
  display: flex;
  align-items: center;
  flex-direction: column;
  position: relative;
  section.footer_contact {
    p {
      text-align: center;
      font-size: $font-size_content;
    }
  }
  section.footer_svg {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 35vw;
    svg {
      width: 3rem;
    }
  }
  section.backButton {
    a {
      svg {
        position: fixed;
        right: 2rem;
        bottom: -2rem;
        width: 4rem;
        filter: drop-shadow(3px 1px 2px rgb(153, 153, 153));
      }
    }
  }
}
