<!DOCTYPE html>
<html lang="zh-Hant">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="author" content="Johnny Lin" />
    <meta name="robots" content="index, follow" />
    <link rel="stylesheet" href="/styles/style.css">
    <title>學生資料庫系統</title>
  </head>
  <body>
    <h1>This is homepage</h1>
    <a href="/students">查詢學生資料</a>
    <a href="/students/insert">新增學生資料</a>
    <script src="./app.js" ></script>
  </body>
</html>
