<!DOCTYPE html>
<html lang="zh-Hant">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="author" content="Johnny Lin" />
    <meta name="robots" content="index, follow" />
    <link rel="stylesheet" href="/styles/style.css" />
    <title>搜尋學生</title>
  </head>
  <body>
    <form action="/students/edit/" method="get">
      <label for="findstu">請輸入學生ID以查詢:</label>
      <input type="text" id="findstu" name="findstu" />
      <button>Submit</button>
    </form>
  </body>
</html>
